<main class="main">
  
    <h2 class='service-title'>
      パチンコ・パチスロ画像共有アプリ
    </h2>
   
  
  
  <div class="inner">

    
 
    <div class="card__wrapper">
      
      <%= render partial: "prototype",collection: @prototypes%>
    </div>
  </div>
</main>
