
<div class="imusan">

    <h2 class="imu3">
    真実を司るものIMU
    </h2>
 
      <h2 class="imu4">
     10月17日
     【本州最南端】拳王の城
     </h2>
      <h2 class="imu4">
     10月22日
     【愛知県稲沢市】愛で救うスロ専
     </h2>
      <h2 class="imu4">
     10月23日
     【岐阜県大垣市】メガコンコルド1515大垣インター南店
     </h2>
 </div>