<div class="motti">

    
    <h2 class="imu1">
    imc敏腕セールスマン_モッチ
    </h2>
  

     <h2 class="imu2">
     10月9・10日
     【大阪市鶴見区】放出駅付近川のそば
     </h2>
      <h2 class="imu2">
     10月23日
     【愛知県知多市】いつもの某所
     </h2>
  
</div>