<div class="kinga">

    
    <h2 class="imu1">
    金牙
    </h2>
  
 
     <h2 class="imu2">
     10月02日
     【愛知県一宮市】一宮西インター付近
     </h2>
     <h2 class="imu2">
     10月08日
     【京都府京都市右京区】梅津の某所
     </h2>
     <h2 class="imu2">
     10月09日
     【滋賀県彦根市】彦根市の大型店
     </h2>
     <h2 class="imu2">
     10月15日
     【愛知県】いつもの扶桑町の某所
     </h2>
     <h2 class="imu2">
     10月16日
     【愛知県名古屋市港区】国道23号線沿いの大型店
     </h2>
     <h2 class="imu2">
     10月23日
     【大阪府淀川区】東三国の某所
     </h2>
     <h2 class="imu2">
     10月29日
     【千葉県松戸市】JR馬橋駅改札出て右
     </h2>
     <h2 class="imu2">
     10月30日
     【栃木県佐野市】田沼町の某所
     </h2>
    </div>

