
.imusan {
  background-image: image-url('imu.png');
  opacity: 0.8;
  height: 100vh;
  
}

.imu1 {
  font-size: 50px;
  color:black
  
}

.imu2 {
  font-size: 30px;
  color: black;
}

.imu3 {
  font-size: 50px;
  color:black
}

.imu4 {
  font-size: 30px;
  color: black;
}
