.main {
  width: 100%;
  height: 100%;
  background-image: image-url('danger2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10vh 15vw;
  color: #fff;
  
}

.service-title {
  font-size: 7vh;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.photo {
  font-size: 10vh;
  color:black;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
  color:black
}

.greeting {
  color:black;
}

.imc {
  width: 200px;
  height: 240px;
}

.title {
  font-size: 3vh;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.w {
  color:crimson
}

.q {
  color:crimson
}